body{
    background-image: url("wand_shop_background.jpg");
}

h1{
    color: white;
}

p{
    color: white;
}

h2{
    color: white;
}

label{
    color: white;
}

text{
    color: white;
}

.formInputs{
    background-color: rgba(160,20,25,.75);
    position: absolute;
    top: 33%;
    left: 5%;
    width: 15%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.allWands {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 90%;
    background-color: rgba(0,0,0,.75);
    overflow-x: hidden;
    padding-top: 5px;
}

.wandDetails{
    position: absolute;
    background-color: rgba(0,0,0,.75); 
    top: 33%;
    left: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;
}

.wandasWands{
    background-color: rgba(0,0,0,.75); 
    width: 50%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 25%;
    top: 0%;
    position: absolute;
}

.helpIcon{
    position: absolute;
    left: 5 px;
    top: 5 px;
    z-index: 3;
}

.helpInfo{
    position: absolute;
    left: 22%;
    top: 30%;
    z-index: 3;
    line-height: 1em;
    line-break: -2em;
}

.overlay{
    background-color: rgba(0,0,0,.75);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}